.header.block {
    height: 100%;
}

.header.block nav {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: space-between;
}

.header.block .section {
    min-width: 100px;
}

.header.block picture {
    display: flex;
}

.header.block img {
    height: 32px;
    width: 32px;
}

.header.block p {
    margin: 0;
}

.header.block p:not(.button-container) {
    font-weight: 700;
    text-transform: uppercase;
}

.header.block a[href="/dashboard"] {
    border: none;
}

.header.block a[href="/dashboard"] img {
    border-radius: 50%;
}

.header.block a[href="/dashboard"].is-selected {
    background-color: var(--secondary-color);
    color: white;
}

.header.block .button-container:has(a[href="#signin"]),
.header.block .button-container:has(a[href="#signout"]),
.header.block .button-container:has(a[href="/dashboard"]) {
    display: none;
}

.is-authenticated .header.block .button-container:has(a[href="#signout"]),
.is-anonymous .header.block .button-container:has(a[href="#signin"]),
.is-authenticated .header.block .button-container:has(a[href="/dashboard"]) {
    display: flex;
}
