.header.block {
    height: 100%;
    max-width: var(--layout-width);
    margin: auto;
    padding-inline: 16px;
}

.header.block nav {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
}

.header.block .section {
    min-width: 100px;
}

.header.block .section:first-child {
    flex: 1;
}

.header.block picture {
    display: flex;
}

.header.block .section:first-child img {
    height: calc(var(--header-height) + 32px);
    width: auto;
    margin-top: 32px;
}

.header.block p {
    margin: 0;
}

.header.block p:not(.button-container) {
    font-weight: 700;
    text-transform: uppercase;
    width: min-content;
    white-space: nowrap;
}

.header.block a[href="/"] {
    display: flex;
    align-items: center;
    gap: 8px;
    text-decoration: none;
    color: var(--white);
    font-weight: 300;
}

.header.block a[href="/"]:hover {
    color: var(--gray);
}

.header.block :is(a[href="#select-template"], a[href="#back"]) {
    display: none;
}

.header.block a[href="/dashboard"] {
    border: none;
}

.header.block a[href="/dashboard"]:hover {
    background: transparent;
    color: var(--gray);
}

.header.block a[href="/dashboard"] img {
    border-radius: 50%;
    height: 32px;
    width: 32px;
}

.header.block .button-container:has(a[href="#signin"]),
.header.block .button-container:has(a[href="#signout"]),
.header.block .section:has(a[href="/dashboard"]) {
    display: none;
}

.is-authenticated .header.block .button-container:has(a[href="#signout"]),
.is-anonymous .header.block .button-container:has(a[href="#signin"]),
.is-authenticated .header.block .section:has(a[href="/dashboard"]) {
    display: flex;
}

@media (width < 768px) {
    .header.block a[href="/"] span {
        display: none;
    }

    .header.block .section {
        min-width: auto;
    }
}

.is-template-previewing .header.block a:is([href="/"], [href="/dashboard"], [href="#signout"], [href="#signin"]) {
    display: none;
}

.is-template-previewing .header.block :is(a[href="#select-template"], a[href="#back"]) {
    display: inherit;
}

.header.block br {
    display: none;
}
