.plans-dialog {
    overflow: visible;
    height: 90%;
    max-height: 500px;
}

@media (width < 768px) {
    .plans-dialog {
        max-height: none;
    }
}

.plans-dialog-wrapper {
    display: flex;
    gap: 32px;
    padding: 32px;
    flex-wrap: wrap;
    overflow: auto;
    align-items: flex-start;
    height: 100%;
}

dialog .plans-dialog-wrapper {
    justify-content: center;
    align-items: center;
}

.plans-dialog-wrapper .close {
    position: absolute;
    top: -16px;
    right: -16px;
    border-radius: 50%;
    height: 36px;
    width: 36px;
}

.plans-dialog-wrapper > div {
    width: 300px;
    border: 1px solid var(--primary-color);
    padding: 16px;
}

.is-authenticated .plans-dialog-wrapper > div:first-child {
    display: none;
}

.plans-dialog-wrapper .button-container {
    justify-content: flex-start;
    margin-block: 32px;
}

