footer {
  background-color: var(--primary-color);
}

.footer.block {
  display: flex;
  align-items: center;
  height: 100%;
  justify-content: center;
}

.footer.block p {
  font-size: 14px;
  margin: 0;
  text-align: center;
}
