.wizard-container {
    padding-top: 64px;
}

.hero-container.wizard-container .hero-wrapper {
    display: none;
}

.hero-container.wizard-container:has(.wizard.block > div:first-child.is-selected) .hero-wrapper {
    display: block;
}

.wizard.block {
    display: flex;
    overflow: hidden;
    border-top: 1px solid white;
    padding-block: 32px;
    min-height: 50vh;
}

.wizard.block hr {
    border: 0.5px solid white;
    margin-block: 48px;
}

.wizard.block > div {
    min-width: 100vw;
    text-align: center;
}

.wizard.block > div:not(.is-selected) {
    display: none;
}

.wizard.block ul {
    list-style: none;
    padding: 0;
    gap: 16px;
    display: inline-flex;
    flex-direction: column;
    margin-inline: auto;
}

.wizard.block li {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    font-size: 20px;
    font-weight: 200;
}

.wizard.block .button-container {
    margin-top: 32px;
}

.wizard.block .button-container:last-child {
    position: fixed;
    top: 0;
    width: 100%;
    background: var(--primary-color);
    margin: 0;
    padding: 16px;
    box-shadow: var(--box-shadow);
    border-top: 1px solid white;
    display: none;
    transition: top 500ms;
}

.wizard.block .button-container:has(a[href="#edit"]) {
    display: none;
}

.wizard.block.show-buttons .button-container:last-child {
    top: 64px;
    z-index: 10;
}

.is-template-previewing .wizard.block .button-container:last-child {
    display: none !important;
}

.wizard.block:has(.template.is-selected) .button-container:last-child {
    display: flex;
}

.wizard.block .template-container {
    max-width: 600px;
    margin: auto;
}

.wizard.block .template {
    padding: 32px;
    border: 2px solid white;
    margin: auto auto 32px;
}

.wizard.block .template.is-selected {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}

.wizard.block .template .preview {
    display: none;
}

.wizard.block .template .preview.is-visible {
    display: block;
    position: fixed;
    top: 64px;
    left: 0;
    right: 0;
    height: 100vh;
    width: 100vw;
    border: none;
}

.wizard.block .template h3 + p {
    font-weight: 200;
    text-align: justify;
}

.wizard.block .carousel {
    padding-block: 16px;
}

.wizard.block .carousel img {
    background-color: var(--secondary-color);
    object-fit: contain;
    height: 260px;
}

.wizard.block .carousel img:not(.is-selected) {
    display: none;
}

.wizard.block .carousel .dots {
    display: flex;
    gap: 8px;
    justify-content: center;
    margin-top: 16px;
}

.wizard.block .carousel .dot {
    border-radius: 50%;
    border: 1px solid var(--secondary-color);
    padding: 4px;
    cursor: pointer;
}

.wizard.block .carousel .dot.is-selected {
    background-color: var(--secondary-color);
}

.wizard.block input,
.wizard.block textarea,
.wizard.block #slug-input-wrapper {
    width: 300px;
    display: block;
    margin: 16px auto auto;
}

.wizard.block input,
.wizard.block textarea {
    background-color: white;
    border: none;
    font-family: var(--font-family);
    font-size: 16px;
    padding: 16px;
    color: var(--secondary-color);
    margin-block: 32px;
    text-overflow: ellipsis;
}

.wizard.block textarea {
    resize: vertical;
    min-height: 74px;
}

.wizard.block #slug-input-wrapper {
    position: relative;
}

.wizard.block #slug-input-wrapper input {
    padding-right: 40px;
}

.wizard.block #slug-input-wrapper::after {
    content: '(' attr(data-leftover-chars) ')';
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    right: 0;
    height: 100%;
    width: 40px;
    position: absolute;
}

.wizard.block .button-container:has(a[href="#edit"]).is-ready {
    display: flex;
}

.wizard.block > div:last-child a[href^="#"]:not(.is-ready) {
    display: none;
}

.wizard.block > div:has(a[href="#edit"]) ul li .icon {
    display: none;
}

.wizard.block > div:has(a[href="#edit"]) ul li.loading::before {
    content: "💫";
}

.wizard.block > div:has(a[href="#edit"]) ul li.success::before {
    content: "✅";
}

.wizard.block > div:has(a[href="#edit"]) ul li.info::before {
    content: "ℹ️";
}

.wizard.block > div:has(a[href="#edit"]) ul li.failed::before {
    content: "❌";
}

.wizard.block > div:has(a[href="#edit"]) ul li.timeout::before {
    content: "⏰";
}
