.dashboard:empty {
  height: 100vh;
}

.dashboard.block {
  max-width: var(--layout-width);
  margin: auto;
  padding: 16px;
}

.dashboard.block h2 {
  font-size: 16px;
  padding-block: 0;
}

.dashboard.block .sites .owner-selector {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
  margin: 0 0 16px;
}

.dashboard.block .sites ul {
  list-style: none;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 48px;
  margin-top: 24px;
}

.dashboard.block .sites li a {
  height: 100%;
  display: block;
  text-decoration: none;
  border-radius: var(--border-radius);
  background-color: var(--dark-blue);
  color: var(--white);
  transition: all var(--animation-duration);
  overflow: hidden;
}

.dashboard.block .sites li a .project-thumbnail {
  height: 200px;
  background: var(--gray);
}

.dashboard.block .sites li a .project-thumbnail img {
  height: 100%;
  object-fit: cover;
}

.dashboard.block .sites li a .project-content {
  padding: 16px;
}

.dashboard.block .sites li a:hover {
  background-color: var(--light-blue);
}

.dashboard.block .sites ul a p {
  font-size: 16px;
  font-weight: 300;
}

.dashboard.block .sites ul a :is(h2, strong, p) {
  color: var(--white);
  text-overflow: ellipsis;
  overflow: hidden;
}

.dashboard.block .sites ul a .project-description {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.dashboard.block .sites .well {
  margin-top: 32px;
  margin-bottom: 0;
}

.dashboard.block :is(.sites, .users) > p:only-child {
  display: grid;
  place-items: center;
  min-height: calc(100vh - 350px);
}

.dashboard.block .details {
  flex: 1;
  max-width: calc(100% - var(--nav-width) - 64px);
}

.dashboard.block .details > :not(.is-selected) {
  display: none;
}

.dashboard.block .cards {
  margin-bottom: 32px;
}

.dashboard.block .plans-dialog-wrapper {
  padding-inline: 0;
}

.dashboard.block .sites section > h2 {
  padding-top: 32px;
  padding-bottom: 0;
}

dialog:has(.users) {
  width: auto;
}

:is(.dashboard.block, dialog) .users .clusterize {
  margin-top: 48px;
  margin-bottom: 48px;
}

:is(.dashboard.block, dialog) .users table {
  width: 100%;
  table-layout: fixed;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

:is(.dashboard.block, dialog) .users td.empty {
  text-align: center;
  text-transform: uppercase;
  padding: 32px;
  font-weight: bold;
  font-size: 12px;
}

.dashboard.block .details .users img,
dialog .users img {
  height: 64px;
  width: 64px;
}

.dashboard.block .users .filter {
  margin-top: 16px;
}

#user-filter-info {
  font-size: 12px;
  color: var(--red);
  margin: 0;
}

:is(.dashboard.block, dialog) .users table :is(th, td) {
  max-width: 100%;
  overflow: auto;
  word-wrap: break-word;
}

:is(.dashboard.block) .users table :is(th) {
  position: sticky;
  top: 0;
  background-color: var(--white);
}

:is(dialog) .users table :is(th) {
  position: sticky;
  top: 0;
  background-color: var(--white);
}

:is(.dashboard.block, dialog) .users table td:first-child {
  font-weight: 500;
}

:is(.dashboard.block, dialog) .users table [data-column="event"] {
  text-transform: capitalize;
}

.dashboard.block .users table + .button-container:has(button:only-child) {
  display: none;
}

body:not(.is-headwire, .is-test-user) .dashboard.block .users {
  display: none;
}

@media (width < 768px) {
  :is(.dashboard.block, dialog) .users table {
    table-layout: auto;
  }

  canvas#chart {
    width: 100% !important;
  }
}

/* MARK: Dark Alley */

.dashboard.block .sites-list-dark-alley {
  display: none;
}

body:is(.is-headwire, .is-adobe, .is-test-user) .dashboard.block .sites-list-dark-alley {
  display: block;
}

.anonymous-grid {
  display: grid;
  gap: 0 1px;
  grid-auto-flow: row;
  grid-template: "anon-ip anon-event anon-date anon-url anon-location anon-ref anon-browser anon-device";
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
}

.anonymous-grid #select-event {
  grid-area: anon-event;
}

.anonymous-grid #select-location {
  grid-area: anon-location;
}

.anonymous-grid #anon-referrer {
  grid-area: anon-ref;
}

.anonymous-grid #select-browser {
  grid-area: anon-browser;
}

.anonymous-grid #select-device {
  grid-area: anon-device;
}

.combobox {
  position: relative;
  display: inline-block;
  margin-inline: 4px;
}

.combobox input {
  height: 100%;
}

.combobox input::placeholder {
  color: black;
}

.combobox-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 100%;
  box-shadow: 0 8px 16px 0 #0003;
  z-index: 1;
  border-radius: var(--border-radius);
}

.combobox-content div {
  padding: 8px 12px;
  cursor: pointer;
}

.combobox-content div:first-child {
  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
}

.combobox-content div:last-child {
  border-bottom-left-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
}

.combobox-content div:hover {
  background-color: #ddd;
}

.combobox-show {
  display: block;
  overflow: auto;
  max-height: min(400px, 50vh);
  max-width: 360px;
}

#toggle-auto-tour-button {
  display: none;
}

.page-loaded #toggle-auto-tour-button {
  display: block;
}
