.dashboard:empty {
  height: 100vh;
}

.dashboard.block {
  max-width: var(--layout-width);
  margin: auto;
  padding: 16px;
}

.dashboard.block h2 {
  font-size: 16px;
  padding-block: 0;
}

.dashboard.block .sites .owner-selector {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
  margin: 0 0 16px;
}

.dashboard.block .sites .owner-selector .button.is-selected {
  background-color: var(--light-blue);
  color: white;
  border-color: var(--light-blue);
}

.dashboard.block .sites ul {
  list-style: none;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, 286px);
  gap: 48px;
  margin-top: 24px;
}

.dashboard.block .sites li a {
  height: 100%;
  display: block;
  max-width: 300px;
  text-decoration: none;
  border-radius: var(--border-radius);
  background-color: var(--dark-blue);
  color: var(--white);
  transition: all var(--animation-duration);
  overflow: hidden;
}

.dashboard.block .sites li a .project-thumbnail {
  height: 200px;
  background: var(--gray);
}

.dashboard.block .sites li a .project-thumbnail img {
  height: 100%;
  object-fit: cover;
}

.dashboard.block .sites li a .project-content {
  padding: 16px;
}

.dashboard.block .sites li a:hover {
  background-color: var(--light-blue);
}

.dashboard.block .sites ul a p {
  font-size: 16px;
  font-weight: 300;
}

.dashboard.block .sites ul a :is(h2, strong, p) {
  color: var(--white);
  text-overflow: ellipsis;
  overflow: hidden;
}

.dashboard.block .sites ul a .project-description {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.dashboard.block :is(.sites, .admin-section.users) > p:only-child {
  display: grid;
  place-items: center;
  min-height: calc(100vh - 350px);
}

.dashboard.block .details {
  flex: 1;
  max-width: calc(100% - var(--nav-width) - 64px);
}

.dashboard.block .details > :not(.is-selected) {
  display: none;
}

.dashboard.block .cards {
  margin-bottom: 32px;
}

.dashboard.block .plans-dialog-wrapper {
  padding-inline: 0;
}

.dashboard.block .sites section > h2 {
  padding-top: 32px;
  padding-bottom: 0;
}

dialog:has(.admin-section.users) {
  width: auto;
}

:is(.dashboard.block, dialog) .admin-section.users .clusterize {
  margin-top: 48px;
  margin-bottom: 48px;
}

:is(.dashboard.block, dialog) .admin-section.users table {
  width: 100%;
  table-layout: fixed;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

:is(.dashboard.block, dialog) .admin-section.users td.empty {
  text-align: center;
  text-transform: uppercase;
  padding: 32px;
  font-weight: bold;
  font-size: 12px;
}

.dashboard.block .details .admin-section.users img,
dialog .admin-section.users img {
  height: 64px;
  width: 64px;
}

.dashboard.block .admin-section.users .filter {
  margin-top: 16px;
}

#user-filter-info {
  font-size: 12px;
  color: var(--red);
  margin: 0;
}

:is(.dashboard.block, dialog) .admin-section.users table :is(th, td) {
  max-width: 100%;
  overflow: auto;
  word-wrap: break-word;
}

:is(.dashboard.block) .admin-section.users table :is(th) {
  position: sticky;
  top: 0;
  background-color: var(--white);
}

:is(dialog) .admin-section.users table :is(th) {
  position: sticky;
  top: 0;
  background-color: var(--white);
}

:is(.dashboard.block, dialog) .admin-section.users table td:first-child {
  font-weight: 500;
}

:is(.dashboard.block, dialog) .admin-section.users table [data-column="event"] {
  text-transform: capitalize;
}

.dashboard.block .admin-section.users table + .button-container:has(button:only-child) {
  display: none;
}

.dashboard.block .admin-section.users h2 {
  padding-block: 20px;
  font-size: 20px;
  line-height: 24px;
}

.dashboard.block .admin-section.users h3 {
  font-size: 16px;
  padding-bottom: 12px;
}

body:not(.is-headwire, .is-test-user) .dashboard.block .admin-section.users {
  display: none;
}

@media (width < 768px) {
  .dashboard.block .tab-content.admin-section.users.is-selected > div {
    overflow-x: auto;
  }

  :is(.dashboard.block, dialog) .admin-section.users table {
    table-layout: auto;
  }

  canvas#chart {
    width: 100% !important;
  }
}

/* MARK: Dark Alley */

.dashboard.block .dark-alley-section {
  display: none;
}

body:is(.is-headwire, .is-adobe, .is-test-user)
  .dashboard.block
  .dark-alley-section {
  display: block;
}
