.dashboard:empty {
    height: 100vh;
}

.dashboard.block {
    max-width: var(--layout-width);
    margin: auto;
    padding: 16px;
}

.dashboard.block .nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid white;
    flex-wrap: wrap;
    padding-block: 32px;
    gap: 16px;
}

.dashboard.block .content {
    display: flex;
    flex-wrap: wrap;
    gap: 64px;
    padding-block: 32px;
    min-height: calc(100vh - 200px);
}

.dashboard.block .filter {
    width: 100%;
    border: none;
    font-size: 16px;
    background-color: white;
    background-image: url("/icons/search.svg");
    background-position: 12px 12px;
    background-size: 20px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    font-weight: 300;
    font-family: var(--font-family);
    color: var(--text-secondary-color);
}

.dashboard.block h1 {
    font-size: 30px;
    padding: 0;
}

.dashboard.block h2 {
    font-size: 20px;
    padding-block: 0;
}

.dashboard.block .sites ul {
    list-style: none;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, 286px);
    gap: 24px;
    margin-top: 48px;
}

.dashboard.block .sites li a {
    display: block;
    max-width: 300px;
    background: white;
    padding: 32px;
    text-decoration: none;
    border: 1px solid var(--bg-primary-color);
}

.dashboard.block .sites li a:hover {
    background: var(--bg-primary-color);
}

.dashboard.block .sites ul a p {
    font-size: 16px;
    font-weight: 300;
}

.dashboard.block .sites > p:only-child {
    display: grid;
    place-items: center;
    min-height: calc(100vh - 350px);
}

.dashboard.block .content aside {
    background: white;
    padding: 16px;
    height: max-content;
}

.dashboard.block .content aside ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 16px;
    position: sticky;
    top: calc(var(--header-height) + 32px);
}

.dashboard.block .content aside .button {
    width: 100%;
    justify-content: flex-start;
    border-color: transparent;
    color: var(--text-primary-color);

}

.dashboard.block .content aside .button:hover {
    background-color: var(--bg-secondary-color);
}

.dashboard.block .content aside .button.is-selected {
    border-color: var(--border-primary-color);
}

.dashboard.block .details {
    flex: 1;
}

.dashboard.block .details > :not(.is-selected) {
    display: none;
}

.dashboard.block:has(.account.is-selected) .nav-sites {
    display: none;
}

.dashboard.block:has(.sites.is-selected) .nav-account {
    display: none;
}

.dashboard.block .account-details {
    display: flex;
    gap: 64px;
    margin-bottom: 32px;
    flex-wrap: wrap;
}

.dashboard.block .account-details span {
    font-weight: 300;
}

.dashboard.block .account-details > div {
    display: flex;
    flex-direction: column;
    gap: 8px;
    max-width: calc(var(--layout-width) / 4);
}

.dashboard.block .account-details > div strong {
    text-transform: uppercase;
}

.dashboard.block .account-details > div img {
    max-width: 100px;
}

.dashboard.block .account-details .upgrade {
    align-self: flex-start;
    margin-top: 16px;
}

.dashboard.block .plans-dialog-wrapper {
    padding-inline: 0;
}
