/* add global styles that can be loaded post LCP here */
.driver-popover {
    min-width: 300px;
    max-width: 400px;
}

.driver-popover:not(:has(.driver-popover-arrow)) {
    margin-left: -60px;
}


#driver-popover-title, #driver-popover-footer {
    background-color: transparent;
    color: black;
    height: auto;
}

.driver-popover-btn, .driver-popover-prev-btn, .driver-popover-next-btn, .disable-tour-btn {
    border-color: var(--white) !important;
    text-decoration: none !important;
    align-items: center !important;
    justify-content: center !important;
    gap: 8px !important;
    border: 1px solid var(--white) !important;
    background-color: var(--blue) !important;
    border-radius: var(--border-radius) !important;
    padding: 8px 16px !important;
    cursor: pointer !important;
    color: var(--white) !important;
    font-style: normal !important;
    font-family: var(--font-family) !important;
    text-shadow: none !important;
  }

  .help-btn:hover {
    transform: scale(1.1);
  }