div[aria-label="loading"] > table > thead > tr > th,
div[aria-label="loading"] > table > tbody > tr > td {
    overflow: hidden !important;
}

.skeleton {
    position: relative;
    overflow: hidden;
    background-color: var(--light-gray);
    border-radius: var(--small-border-radius);
}

.skeleton::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(90deg, transparent, rgba(0 0 0 / 5%), transparent);
    transform: translateX(-100%);
    animation: skeleton-slide 1s ease-in-out infinite;
}

@keyframes skeleton-slide {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(100%);
    }
}


.skeleton-theme-editor-iframe {
    width: 810px;
    margin: 0 auto;
}

@media (width < 768px) {
    .skeleton-theme-editor-iframe {
        width: 375px;
    }
}
