/* Global */
:root {
  --layout-width: 1280px;
  --gray-color: rgb(230 230 230);
  --primary-color: rgb(147 231 129);
  --secondary-color: rgb(34 34 34);
  --animation-duration: 300ms;
  --font-family: system-ui, sans-serif;
  --header-height: 64px;
  --body-font-size: 16px;

  font-synthesis: none;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-size-adjust: 100%;
}

html {
  font-family: var(--font-family);
  scroll-behavior: smooth;
  background: linear-gradient(90deg, var(--gray-color), white);
  color: var(--secondary-color);
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  overflow-x: hidden;
}

/* Layout */
header,
footer {
  height: var(--header-height);
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: var(--primary-color);
  z-index: 10;
  box-shadow: 0 2px 5px rgb(213 213 213);
}

main {
  padding-top: var(--header-height);
}

footer {
  display: none;
}

main:has(> [data-section-status="loaded"]) + footer {
  display: block;
}

/* Default styles */
h1,
h2,
h3 {
  color: var(--secondary-color);
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: -0.05em;
  margin: 0;
}

p {
  font-size: var(--body-font-size);
  line-height: 22px;
}

ul,
ol {
  margin-block: 16px;
}

h1 {
  padding-block: 32px;
  font-size: 42px;
  line-height: 52px;
}

h2 {
  font-size: 30px;
  line-height: 30px;
  padding-block: 24px;
}

h3 {
  padding-block: 20px;
  font-size: 20px;
  line-height: 24px;
}

img {
  width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  transition: all var(--animation-duration);
  color: var(--secondary-color);
}

a:hover {
  text-decoration: underline;
}

.button-container {
  display: flex;
  gap: 16px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

input[type="file"]::file-selector-button,
.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  border: 1px solid var(--secondary-color);
  background-color: var(--primary-color);
  font-weight: 600;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  transition: all var(--animation-duration);
  font-size: 14px;
  line-height: 14px;
  padding: 8px 16px;
  cursor: pointer;
  color: var(--secondary-color);
  font-style: normal;
}

input[type="file"] {
  margin: 20px 0;
  border: 1px solid var(--secondary-color);
  width: 100%;
}

input[type="file"]::file-selector-button {
  border-width: 0 1px 0 0;
}

input[type="file"]::file-selector-button:hover,
.button:hover {
  background-color: var(--secondary-color);
  text-decoration: none;
  color: white;
}

.button.secondary {
  background-color: transparent;
}

.button.secondary:hover {
  color: var(--secondary-color);
  background-color: var(--primary-color);
}

.button.is-disabled,
.button:disabled,
.button:disabled:hover {
  pointer-events: none;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  cursor: not-allowed;
  opacity: 0.4;
}


dialog {
  border: 2px solid var(--primary-color);
  box-shadow: 0 0 20px 5px var(--secondary-color);
}

::backdrop {
  background: rgba(0 0 0 / 20%);
  backdrop-filter: blur(2px);
}

.icon {
  display: inline-block;
  height: 24px;
  width: 24px;
}

.icon img {
  height: 100%;
  width: 100%;
}

img[src="/icons/loading.svg"] {
  width: 124px;
  height: 124px;
}
