/* Global */
:root {
  --layout-width: 1280px;
  --blue: #004990;
  --dark-blue: rgb(63 92 133);
  --light-blue: rgb(80 146 188);
  --orange: rgb(218 123 64);
  --red: rgb(200 0 0);
  --green: rgb(50 200 100);
  --gray: #bbb;
  --white: #fff;
  --black: #000;
  --animation-duration: 300ms;
  --font-family: system-ui, sans-serif;
  --header-height: 64px;
  --body-font-size: 16px;
  --box-shadow-color: rgb(213 213 213);
  --box-shadow: 0 2px 5px var(--box-shadow-color);
  --loading-backdrop: rgba(128 128 128 / 80%);
  --icon-drop-shadow: drop-shadow(0 0 1px var(--black));
  --border-radius: 15px;

  font-synthesis: none;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-size-adjust: 100%;
}

[hidden] {
  display: none !important;
}

.is-disabled {
  pointer-events: none !important;
  cursor: unset !important;
  opacity: 0.2 !important;
}

html {
  font-family: var(--font-family);
  background-color: var(--white);
  color: var(--black);
}

html:has(dialog[open]) {
  overflow: hidden;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  overflow-x: hidden;
  display: none;
  flex-direction: column;
  min-height: 100vh;
}

body.appear {
  display: flex;
}

body.is-template-previewing {
  overflow: hidden;
}

/* Layout */
header,
footer {
  height: var(--header-height);
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: var(--blue);
  color: var(--white);
  z-index: 100;
}

main {
  padding-top: var(--header-height);
}

/* main of fragments */
dialog main,
main main {
  padding-top: 0;
}

.freeform main {
  padding-inline: 32px;
}

footer {
  display: none;
  margin-top: auto;
}

main:has(> [data-section-status="loaded"]) + footer {
  display: block;
}

/* Default styles */
h1,
h2,
h3 {
  color: var(--black);
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: -0.05em;
  margin: 0;
}

strong {
  color: var(--black);
}

p {
  font-size: var(--body-font-size);
  line-height: 22px;
}

ul,
ol {
  margin-block: 16px;
}

label > span {
  padding-block: 12px;
  display: block;
}

h1 {
  padding-block: 32px;
  font-size: 42px;
  line-height: 52px;
  letter-spacing: 0.05em;
  font-weight: 300;
}

h2 {
  font-size: 30px;
  line-height: 30px;
  padding-block: 24px;
}

h3 {
  padding-block: 20px;
  font-size: 20px;
  line-height: 24px;
}

img {
  width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: var(--blue);
}

a:hover {
  text-decoration: underline;
}

.button-container, .expedition-popover-navigation-btns {
  display: flex;
  gap: 16px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

table .button-container {
  flex-wrap: nowrap;
}

.button-container:has(.button.action) {
  gap: 12px;
}

input, textarea, select {
  font-family: var(--font-family);
  color: var(--black);
  font-style: normal;
  font-size: 14px;
  line-height: 14px;
  padding: 8px 16px;
  font-weight: 400;
  letter-spacing: 0.1em;
  border: 1px solid var(--gray);
  border-radius: calc(var(--border-radius) / 2);
  width: 100%;
}

input[type="checkbox"] {
  width: 24px;
  height: 24px;
  position: relative;
  border: 1px solid var(--gray);
  background: white;
  margin: 0 6px;
  padding: 0;
  cursor: pointer;
  appearance: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

input[type="checkbox"]::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background: url('/icons/check-mark.svg') no-repeat center / 80%;
  opacity: 0;
  transition: opacity 0.3s;
}

input[type="checkbox"]:checked::after {
  opacity: 1;
}


input[type="file"]::file-selector-button,
.button {
  display: inline-flex;
  text-decoration: none;
  align-items: center;
  justify-content: center;
  gap: 8px;
  border: 1px solid var(--white);
  background-color: var(--blue);
  border-radius: var(--border-radius);
  font-weight: 600;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  transition: all var(--animation-duration);
  font-size: 14px;
  line-height: 14px;
  padding: 8px 16px;
  cursor: pointer;
  color: var(--white);
  font-style: normal;
  font-family: var(--font-family);
}

input[type="file"] {
  border: 1px solid var(--gray);
  width: 100%;
  padding: 0;
}

input[type="file"]::file-selector-button {
  border-width: 0 1px 0 0;
  padding: 9px;
  font-size: 13px;
  border-radius: calc(var(--border-radius) / 2);
  text-transform: none;
  background-color: var(--black);
  color: var(--white);
  border-color: var(--white);
}

input[type="file"]::file-selector-button:hover,
.button:hover {
  background-color: var(--gray);
  color: var(--black);
  text-decoration: none;
}

input[type="color"] {
  padding: 4px;
  font-weight: 400;
  border: 1px solid var(--gray);
  border-radius: calc(var(--border-radius) / 2);
  background-color: var(--white);
  width: 100%;
}

.button.primary {
  background-color: var(--black);
  color: var(--white);
  border-color: var(--white);
}

.button.primary:hover {
  background-color: var(--gray);
  color: var(--black);
}

.button.secondary {
  background-color: var(--white);
  color: var(--black);
  border-color: var(--black);
}

.button.secondary:hover {
  background-color: var(--gray);
}

.button:disabled,
.button:disabled:hover {
  pointer-events: none;
  cursor: unset;
  opacity: 0.2;
}

.button.action {
  padding: 9px;
  font-size: 13px;
  border-radius: calc(var(--border-radius) / 2);
  text-transform: none;
}

.button.destructive {
  background-color: var(--red);
  border-color: var(--red);
  color: var(--white);
}

.button.destructive:hover {
  background-color: var(--gray);
  color: var(--black);
}



.button.loading {
  pointer-events: none;
  position: relative;
  color: transparent;
}

.button.loading::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  filter: invert(1);
  background: url("/icons/loading.svg") no-repeat center;
}

table {
  width: 100%;
  border-collapse: collapse;
  padding: 16px;
}

table :is(th, td) {
  padding: 8px;
  font-weight: 300;
}

table th {
  text-align: left;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
}

table td {
  border-top: 1px solid var(--gray);
}

table:has(tbody:empty) {
  display: none;
}

/* MARK: Dialogs */
dialog {
  padding: 0;
  border: none;
  box-shadow: 0 0 20px 5px var(--gray);
  border-radius: var(--border-radius);
}

dialog:has(.dialog-content) {
  width: 800px;
  max-width: 80vw;
  max-height: 80vh;
  overflow: visible;
}

dialog.fullscreen {
  width: 90vw;
  height: 90vh;
  max-width: 90vw;
  max-height: 90vh;
}

dialog .dialog-content {
  padding: 16px;
  height: 100%;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: auto;
  max-height: 80vh;
}

dialog.fullscreen .dialog-content {
  max-height: 90vh;
}

dialog .dialog-content > div {
  overflow: auto;
  display: flex;
  flex-direction: column;
  flex: 1;
}

dialog .preview {
  --preview-max-height: 300px;

  height: auto;
  max-height: var(--preview-max-height);
  max-width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

dialog .preview:empty {
  display: none;
}

dialog .preview img {
  display: block;
  max-width: 128px;
  width: 100%;
  height: auto;
  max-height: var(--preview-max-height);
  object-fit: contain;
  object-position: center;
  filter: var(--icon-drop-shadow);
}

dialog .block-preview .block-iframe {
  width: 100%;
  height: 60vh;
}

dialog.loading {
  pointer-events: none;
}

dialog.loading::before {
  content: attr(data-loading-text);
  font-size: 24px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  inset: 0;
  z-index: 1;
  background-color: var(--loading-backdrop);
}

dialog .dialog-content .dialog-button-container {
  display: flex;
  flex-flow: row wrap;
  gap: 16px;
  justify-content: flex-end;
  padding-top: 16px;
  overflow: visible;
  flex: 0;
}

dialog .dialog-content .dialog-button-container:empty {
  display: none;
}

dialog .dialog-content .dialog-button-container > * {
  align-items: flex-start;
}

dialog .dialog-content > div:has(> .centered-info),
dialog .centered-info {
  display: flex;
  flex: 1;
  text-align: center;
}

dialog .centered-info {
  align-items: center;
  justify-content: center;
}

dialog .warning,
dialog .warning * {
  color: var(--orange);
}

dialog .error,
dialog .error * {
  color: var(--red);
}

@media (width < 768px) {
  dialog {
    min-width: unset;
    max-width: none;
    width: calc(100% - 32px);
  }
}

dialog .close {
  position: absolute;
  top: -16px;
  right: -16px;
  border-radius: 50%;
  height: 36px;
  width: 36px;
}

dialog.alert-dialog {
  width: 400px;
}

dialog.alert-dialog button {
  flex: 1;
}

dialog.alert-dialog .dialog-content {
  min-height: 200px;
}

dialog h3 {
  text-align: center;
}

dialog form {
  max-width: 400px;
  width: 100%;
}

dialog form:last-child {
  margin: auto;
}

dialog label {
  display: block;
  margin-bottom: 8px;
  font-size: 14px;
}

dialog textarea {
  min-height: 100px;
  resize: none;
  max-height: 400px;
}

dialog .columns {
  display: flex;
  gap: 32px;
  flex-wrap: wrap;
  height: 100%;
  justify-content: center;
}

dialog .columns > * {
  flex: 1;
}

dialog .columns iframe {
  border: none;
  height: auto;
  max-width: 600px;
  min-height: 400px;
}

@media (width < 768px) {
  dialog .columns iframe {
    display: none;
  }
}

::backdrop {
  background: rgba(0 0 0 / 20%);
  backdrop-filter: blur(2px);
}


/* MARK: prev updates */

dialog #revert-form ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

dialog #revert-form label {
  display: flex;
  gap: 20px;
  justify-content: flex-start;
}

dialog #revert-form label input{
  flex: 0;
}

/* MARK: headwire */
.headwire-only {
  display: none;
}

.is-headwire .headwire-only {
  display: block;
}


/* MARK: Icons */
.icon {
  display: inline-block;
  height: 24px;
  width: 24px;
}

.icon img {
  height: 100%;
  width: 100%;
}

img[src="/icons/loading.svg"] {
  width: 124px;
  height: 124px;
  filter: invert(1);
}

/* MARK: Help Button */
.help-btn {
  position: fixed;
  right: 0;
  bottom: 0;
  margin: 1rem;
  font-size: 1.8rem;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 58px;
  height: 58px;
  border: 1px solid var(--white);
  border-radius: 50%;
  background-color: var(--orange);
  color: white;
  text-align: center;
  text-decoration: none;
  font-weight: 600;
  cursor: pointer;
  box-shadow: 0 0 5px var(--box-shadow-color);
}

.help-btn:hover {
  transform: scale(1.1);
}
