/* Global */
:root {
  --layout-width: 1280px;
  --nav-width: 220px;
  --blue: #004990;
  --dark-blue: rgb(63 92 133);
  --light-blue: rgb(80 146 188);
  --orange: rgb(218 123 64);
  --red: rgb(200 0 0);
  --green: rgb(50 200 100);
  --light-green: rgb(78 218 125);
  --gray: #bbb;
  --light-gray: #eee;
  --white: #fff;
  --black: #000;
  --animation-duration: 300ms;
  --font-family: system-ui, sans-serif;
  --header-height: 64px;
  --footer-height: 64px;
  --body-font-size: 16px;
  --box-shadow-color: rgb(213 213 213);
  --box-shadow: 0 2px 5px var(--box-shadow-color);
  --loading-backdrop: rgb(128 128 128 / 80%);
  --icon-drop-shadow: drop-shadow(0 0 1px var(--black));
  --border-radius: 15px;
  --small-border-radius: 8px;
  --skeleton-bg-light: var(--light-gray);
  --skeleton-bg-dark: #e2e2e2;
  --skeleton-bg: linear-gradient(90deg, var(--skeleton-bg-light) 0%, var(--skeleton-bg-dark) 25%, var(--skeleton-bg-light) 50%) 100% 0 / 200% 100%;

  font-synthesis: none;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-size-adjust: 100%;
}

[hidden] {
  display: none !important;
}

.is-disabled {
  pointer-events: none !important;
  cursor: unset !important;
  opacity: 0.2 !important;
}

html {
  font-family: var(--font-family);
  background-color: var(--white);
  color: var(--black);
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  scroll-margin-top: var(--header-height);
}

*[inert] {
  opacity: 0.7;
}

body {
  margin: 0;
  overflow-x: hidden;
  display: none;
  flex-direction: column;
  min-height: 100vh;
}

body.appear {
  display: flex;
}

body.is-template-previewing {
  overflow: hidden;
}

/* Layout */
header,
footer {
  height: var(--header-height);
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: var(--blue);
  color: var(--white);
  z-index: 100;
}

main {
  padding-top: var(--header-height);
}

/* main of fragments */
main main {
  padding-top: 0;
}

.freeform main {
  padding-inline: 32px;
}

footer {
  display: none;
  margin-top: auto;
}

main:has(> [data-section-status='loaded']) + footer {
  display: block;
}

/* Default styles */
h1,
h2,
h3 {
  color: var(--black);
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: -0.05em;
  margin: 0;
}

strong {
  color: var(--black);
}

p {
  font-size: var(--body-font-size);
  line-height: 22px;
}

ul,
ol {
  margin-block: 16px;
}

label > span {
  padding-block: 12px;
  display: block;
}

label:first-child > span {
  padding-top: 0;
}

label:has(> input[type='checkbox'] + span) {
  display: flex;
  align-items: center;
  gap: 8px;
}

h1 {
  padding-block: 32px;
  font-size: 42px;
  line-height: 52px;
  letter-spacing: 0.05em;
  font-weight: 300;
}

h2 {
  font-size: 30px;
  line-height: 30px;
  padding-block: 24px;
}

h3 {
  padding-block: 20px;
  font-size: 20px;
  line-height: 24px;
}

img {
  width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: var(--blue);
}

a:hover {
  text-decoration: underline;
}

.button-container,
.expedition-popover-navigation-btns {
  display: flex;
  gap: 16px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

table .button-container {
  flex-wrap: nowrap;
  justify-content: flex-end;
}

.button-container:has(.button.action) {
  gap: 12px;
}

input,
textarea,
select {
  font-family: var(--font-family);
  color: var(--black);
  font-style: normal;
  font-size: 14px;
  line-height: 14px;
  padding: 8px 16px;
  font-weight: 400;
  letter-spacing: 0.1em;
  border: 1px solid var(--gray);
  border-radius: var(--small-border-radius);
  width: 100%;
}

select {
  max-width: 100%;
}

input:focus {
  outline: none;
  border-color: var(--orange);
}

input:focus-visible {
  outline: -webkit-focus-ring-color auto 1px;
  outline-offset: 0;
}

input[type='checkbox'] {
  width: 24px;
  height: 24px;
  position: relative;
  border: 1px solid var(--gray);
  background: white;
  margin: 0 6px;
  padding: 0;
  cursor: pointer;
  appearance: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

input[type='checkbox']::after {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  background: url('/icons/check-mark.svg') no-repeat center / 80%;
  opacity: 0;
  transition: opacity 0.3s;
}

input[type='checkbox']:checked::after {
  opacity: 1;
}

input[type='file']::file-selector-button,
.button {
  display: inline-flex;
  text-decoration: none;
  align-items: center;
  justify-content: center;
  gap: 8px;
  border: 1px solid var(--white);
  background-color: var(--blue);
  border-radius: var(--border-radius);
  font-weight: 600;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  transition: all var(--animation-duration);
  font-size: 14px;
  line-height: 14px;
  padding: 8px 16px;
  cursor: pointer;
  color: var(--white);
  font-style: normal;
  font-family: var(--font-family);
}

input[type='file'] {
  border: 1px solid var(--gray);
  width: 100%;
  padding: 0;
}

input[type='file']::file-selector-button {
  border-width: 0 1px 0 0;
  padding: 9px;
  font-size: 13px;
  border-radius: var(--small-border-radius);
  text-transform: none;
  background-color: var(--black);
  color: var(--white);
  border-color: var(--white);
}

input[type='file']::file-selector-button:hover,
.button:hover {
  background-color: var(--gray);
  color: var(--black);
  text-decoration: none;
}

input[type='color'] {
  padding: 0;
  background-color: transparent;
  width: 40px;
  height: 40px;
  cursor: pointer;
  border: 1px solid var(--gray);
}

.color-input-circle-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid var(--gray);
  overflow: hidden;
}

.color-input-circle-wrapper input[type='color'] {
  min-width: 150%;
  min-height: 150%;
  border: none;
}

.button.primary {
  background-color: var(--black);
  color: var(--white);
  border-color: var(--white);
  outline-color: var(--light-blue);
}

.button.primary:hover {
  background-color: var(--gray);
  color: var(--black);
}

.button.secondary {
  background-color: var(--white);
  color: var(--black);
  border-color: var(--black);
}

.button.secondary:hover {
  background-color: var(--gray);
}

.button.transparent {
  background-color: transparent !important;
  padding: 0 !important;
}

.button:disabled,
.button:disabled:hover {
  pointer-events: none;
  cursor: unset;
  opacity: 0.2;
}

.button.action {
  padding: 9px;
  font-size: 13px;
  border-radius: var(--small-border-radius);
  text-transform: none;
}

.button.action:hover {
  background-color: var(--light-gray);
}

.button.action.primary {
  border-color: var(--black);
}

.button.action.primary:hover {
  border-color: var(--light-gray);
}

.button.destructive {
  background-color: var(--red);
  border-color: var(--red);
  color: var(--white);
}

.button.destructive:hover {
  background-color: var(--gray);
  color: var(--black);
}

.button.selector {
  border-color: var(--light-blue);
}

.button.selector.is-selected {
  border-color: var(--light-blue);
  background-color: var(--light-blue);
  color: var(--white);
}

.button.loading {
  pointer-events: none;
  position: relative;
  color: transparent;
}

.button.loading * {
  visibility: hidden;
}

.button.loading::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  filter: invert(1);
  background: url('/icons/loading.svg') no-repeat center;
}

.button.primary.loading::after {
  filter: none;
}

table {
  width: 100%;
  border-collapse: collapse;
  padding: 16px;
}

table :is(th, td) {
  padding: 8px;
  font-weight: 300;
}

table th {
  text-align: left;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
}

table td {
  border-top: 1px solid var(--light-gray);
  font-size: 14px;
}

table:has(tbody:empty) {
  display: none;
}

table td.empty {
  text-align: center;
  text-transform: uppercase;
  padding: 32px;
  font-weight: bold;
  font-size: 12px;
}

table tr.loading {
  opacity: 0.4;
  pointer-events: none;
}

.clusterize-scroll {
  max-height: calc(100vh / 2) !important;
  height: 100%;
}

/* MARK: headwire */
.headwire-only {
  display: none;
}

.is-headwire .headwire-only {
  display: block;
}

/* MARK: Icons */
.icon {
  display: inline-block;
  height: 24px;
  width: 24px;
}

.icon img {
  height: 100%;
  width: 100%;
}

/* MARK: breadcrumbs */
.breadcrumbs {
  font-size: 14px;
  display: flex;
  gap: 8px;
  align-items: center;
  line-height: 32px;
  text-transform: uppercase;
  padding: 4px 8px;
  border-radius: var(--small-border-radius);
  background-color: var(--light-gray);
  margin-right: auto;
}

.breadcrumbs h1 {
  font-size: 14px;
  line-height: 32px;
  padding: 0;
}

.breadcrumbs a {
  color: var(--black);
  font-weight: bold;
}

/* MARK: progress bar */
.progress-bar {
  border-radius: var(--border-radius);
  background: var(--light-gray);
  overflow: hidden;
  margin: 24px 0;
  position: relative;
  height: 32px;
}

.progress-bar .progress-bar-fill {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  background: var(--light-blue);
  height: 100%;
  transition: width 0.3s ease;
}

.progress-bar .progress-bar-text {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  font-weight: bold;
  font-size: 14px;
  z-index: 2;
}

/* MARK: create tabs */
.tabs-wrapper .tabs-nav {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding-block: 32px;
  gap: 8px;
}

.tabs-wrapper .tabs-nav > *:first-child {
  margin-right: auto;
}

.tabs-wrapper .tabs-content-container {
  flex: 1;
  max-width: calc(100% - var(--nav-width) - 64px);
}

.tabs-wrapper .tabs-content {
  display: flex;
  flex-wrap: wrap;
  gap: 64px;
  padding-block: 16px;
  min-height: calc(100vh - 200px);
  justify-content: space-between;
}

.tabs-wrapper .tabs-content:has(> p:only-child) {
  display: block;
  padding: 0;
}

.tabs-wrapper .tabs-content > p:only-child {
  min-height: calc(100vh - 200px);
  display: grid;
  place-items: center;
}

.tabs-wrapper .tabs-content aside {
  height: max-content;
  width: var(--nav-width);
}

.tabs-wrapper .tabs-content aside ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.tabs-wrapper .tabs-content aside .button {
  width: 100%;
  justify-content: flex-start;
  border-color: transparent;
  font-weight: normal;
  line-height: 1.5;
  text-transform: uppercase;
}

.tabs-wrapper .tabs-content aside .button:hover {
  border-color: var(--light-blue);
  background-color: var(--white);
}

.tabs-wrapper .tabs-content aside .button.is-selected {
  border-color: var(--light-blue);
  background-color: var(--light-blue);
  color: var(--white);
}

.tabs-wrapper .tabs-content aside .button.is-selected img {
  filter: invert(1);
}

.tabs-wrapper .tabs-content aside li.title {
  font-weight: 600;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  border-bottom: 1px solid var(--orange);
  font-size: 14px;
  padding-bottom: 4px;
  margin-top: 16px;
  display: inline-flex;
  align-items: center;
  gap: 8px;
}

.tabs-wrapper .tabs-content aside ul:first-child li.title {
  margin-top: 8px;
}

.tabs-wrapper .tabs-nav-items > .tab-nav-content,
.tabs-wrapper .details > *,
.tabs-wrapper .actions > * {
  display: none;
}

.tabs-wrapper .details > *.is-selected,
.tabs-wrapper .actions > *.is-selected {
  display: block;
}

.tabs-wrapper .tabs-nav-items > .tab-nav-content.is-selected {
  display: flex;
  gap: 8px;
}

@media (width < 768px) {
  .tabs-wrapper .tabs-content aside {
    width: 100%;
  }

  .tabs-wrapper .tabs-content-container {
    max-width: none;
  }

  .dashboard.block .details {
    max-width: 100% !important;
  }

  .site-details.block .tabs-nav-items > * {
    flex-direction: column;
    align-items: flex-start;
  }
}

/* MARK: cards */
.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
  align-items: stretch;
  justify-content: center;
}

.cards .box {
  flex: 1 1 300px;
  min-width: 200px;
  max-width: 300px;
  width: 100%;
  box-sizing: border-box;
  text-align: center;
  word-wrap: break-word;
  display: flex;
  flex-direction: column;
  gap: 8px;
  border: 1px solid var(--light-gray);
  padding: 16px;
  border-radius: var(--border-radius);
}

.cards .box p {
  display: flex;
  justify-content: space-between;
  margin: 0;
}

.cards .box strong {
  text-transform: uppercase;
}

.cards .box .button {
  align-self: center;
}

.cards.metrics .box p span:first-child {
  margin-right: 8px;
  display: block;
  text-align: left;
  flex: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.cards span {
  font-weight: 300;
  text-overflow: ellipsis;
  overflow: hidden;
}

.cards .description {
  line-height: 1.5;
  max-height: calc(1.5em * 3);
  overflow-y: auto;
}

.filter {
  width: 100%;
  font-size: 14px;
  background-image: url('/icons/search.svg');
  background-position: 12px 12px;
  background-size: 20px;
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
}

.highlight-popover-hidden {
  display: none !important;
}

.filter[disabled] {
  cursor: not-allowed;
}

.well {
  background-color: var(--light-gray);
  padding: 32px;
  display: flex;
  gap: 32px;
  border-radius: var(--border-radius);
  align-items: center;
  margin-bottom: 64px;
}

.well h2 {
  padding: 0 !important;
}

.well p {
  font-weight: 300;
}

.well img {
  width: 40%;
}

.well .text {
  width: 60%;
}

.well .button-container {
  justify-content: flex-start;
}

.badge {
  border-radius: var(--small-border-radius);
  background: var(--light-gray);
  padding-block: 8px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 12px;
  white-space: nowrap;
  text-align: center;
  width: 120px;
}

.badge.small {
  display: inline-block;
  width: auto;
  text-transform: inherit;
  font-weight: inherit;
  padding: 4px 8px;
  margin: 4px;
  font-size: 14px;
}

.badge.green {
  background-color: var(--green);
  color: var(--white);
}

.badge.orange {
  background-color: var(--orange);
  color: var(--white);
}

.hidden {
  display: none;
}
