.site-details:empty {
  height: 100vh;
}

.site-details.block {
  max-width: var(--layout-width);
  margin: auto;
  padding: 16px;
}

.site-details.block.is-deleting {
  pointer-events: none;
  opacity: 0.3;
  filter: blur(2px);
}

.site-details.block h2 {
  font-size: 16px;
  margin-top: 16px;
  padding-bottom: 24px;
}

.site-details.block :is(#pages-overview, #seo-overview) h2 {
  margin-top: 0;
  padding-top: 0;
}

.site-details.block h3 {
  font-size: 13px;
  margin-top: 8px;
  padding-block: 8px;
}

.site-details.block .title {
  padding-bottom: 24px;
}

.site-details.block .title h2 {
  padding: 0;
  margin-top: 0;
}

.site-details.block .container {
  width: 100%;
  overflow: auto;
}

.site-details.block .container > h2:first-child,
.site-details.block .container > div:first-child > h2:first-child {
  margin-top: 0;
  padding-top: 0;
}

.site-details.block .filter {
  margin-bottom: 16px;
}

.site-details.block .project-container {
  display: flex;
  gap: 32px;
}

@media (width < 768px) {
  .site-details.block .project-container {
    flex-direction: column;
  }
}

.site-details.block .project-container .project-thumbnail {
  background: var(--light-gray);
  border-radius: var(--small-border-radius);
  overflow: hidden;
  display: flex;
  min-width: 40%;
  max-width: 40%;
}

@media (width < 768px) {
  .site-details.block .project-container .project-thumbnail {
    max-width: none;
  }
}

.site-details.block .box .logo {
  height: 32px;
  margin-bottom: 16px;
}

.site-details.block .project-container .project-thumbnail img {
  object-fit: cover;
}

.site-details.block .project-container .cards .box {
  flex: 1;
}

.site-details .danger-zone {
  border: 1px solid var(--red);
  margin-block: 32px;
  padding: 16px;
  border-radius: var(--border-radius);
}

.site-details .danger-zone strong {
  text-transform: uppercase;
}

.site-details.block .list {
  list-style: none;
  padding: 0;
  display: flex;
  align-items: center;
  gap: 8px;
  flex-wrap: wrap;
}

.site-details.block .list:empty {
  display: none !important;
}

.site-details.block table {
  width: 100%;
}

.site-details.block table th,
.site-details.block table td {
  max-width: 100%;
  overflow: auto;
  word-wrap: break-word;
}

.site-details.block table th {
  position: sticky;
  top: 0;
  background-color: var(--white);
}

.site-details.block table td:first-child {
  font-weight: 500;
}

@media (width < 768px) {
  .site-details.block .cards {
    flex-direction: column;
  }

  .site-details.block table {
    padding: 0;
    width: calc(100vw - 32px);
    overflow-x: auto;
    display: block;
  }
}

/* MARK: Icon list */
.site-details.block .favicon-section {
  display: flex;
  gap: 8px;
}

.site-details.block .change-favicon {
  align-self: center;
}

.site-details.block .copy-button img {
  max-width: 12px;
}

.site-details.block .block-icon,
.site-details.block .icon-preview,
.site-details.block .favicon-section img {
  max-width: 48px;
}

.site-details.block .blocks.list,
.site-details.block .icons.list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(124px, 1fr));
  align-items: stretch;
  gap: 24px;
}

.site-details.block .blocks.list li,
.site-details.block .icons.list li {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
}

.site-details.block .icons.list .icon-preview {
  aspect-ratio: 1/1;
  width: 100%;
  object-fit: contain;
  object-position: center;
  filter: var(--icon-drop-shadow);
}

.site-details.block .icons.list .buttons-container {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  justify-content: center;
  margin-top: auto;
}

.site-details.block .chart-container {
  position: relative;
  height: 400px;
  width: 100%;
  margin-block: 32px;
}

.site-details.block :is(.monitoring-panel, .analytics-panel, .audience-panel, .emails-panel) .container img:only-child {
  height: 64px;
  width: 64px;
}

.site-details.block .campaigns-section .container {
  display: flex;
  gap: 16px;
  flex-flow: column;
}

.site-details.block .campaigns-section .campaign-list {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
  margin: 0 0 24px;
}

.site-details.block .seo-audit [data-meta-property="og:image"] img {
  display: block;
  width: 64px;
  height: 64px;
  object-fit: cover;
  background-color: var(--light-gray);
  border-radius: var(--small-border-radius);
}

.site-details.block .tab-content.seo span.previewed,
.site-details.block .tab-content.seo span.published {
  display: none;
}

.site-details.block .tab-content.seo[data-show-environment="previewed"] span.previewed {
  display: block;
}

.site-details.block .tab-content.seo[data-show-environment="published"] span.published {
  display: block;
}

.site-details.block .tab-content.seo tr[data-environment] {
  display: none;
}

.site-details.block .tab-content.seo[data-show-environment="previewed"] tr[data-environment="previewed"] {
  display: table-row;
}

.site-details.block .tab-content.seo[data-show-environment="published"] tr[data-environment="published"] {
  display: table-row;
}

.site-details.block .period-selector {
  padding-block: 6.5px;
  width: auto;
}

.site-details.block .analytics-panel table td p:first-child {
  margin-top: 0;
}

.site-details.block .analytics-panel table td p:last-child {
  margin-bottom: 0;
}

dialog .clicked-links li {
  margin-block: 8px;
}

.site-details.block .form {
  display: flex;
  gap: 8px;
  max-width: calc(var(--layout-width) / 2);
}

.site-details.block .form label {
  flex: 1;
}

.site-details.block .form button[type="submit"] {
  align-self: flex-end;
}

.site-details.block :is(#authors h2, #favicon p, #updates .update-info h3) {
  padding-top: 0;
  margin-top: 0;
}

/* MARK: Author list */
.site-details.block .author {
  width: 100%;
  display: flex;
  gap: 8px;
  border-top: 1px solid var(--gray);
  padding-block: 8px;
  align-items: center;
  justify-content: flex-end;
}

.site-details.block .author:first-child {
  border-top: none;
}

.site-details.block .author *:first-child {
  margin-right: auto;
}

.site-details.block .authors-list {
  list-style: none;
  padding: 0;
  max-width: calc(var(--layout-width) / 2);
  max-height: 300px;
  overflow: auto;
}

.site-details.block .authors-list:empty {
  display: none;
}

/* MARK: add page */

.site-details.block .add-page-container {
  display: flex;
  justify-content: flex-end;
}

/* MARK: Dark alley */
.site-details.block.dark-alley .button.sidekick {
  display: none;
}

/* MARK: Checklist */
.site-details.block .checklist .checklist-title {
  display: flex;
  align-items: center;
}

.site-details.block .checklist .checklist-title::after {
  content: "";
  display: block;
  background: url("/icons/loading.svg") no-repeat center;
  filter: invert(1);
  opacity: 0;
  width: 26px;
  height: 26px;
}

.site-details.block .checklist .checklist-title.reloading-checklist::after {
  opacity: 1;
}

.site-details.block .checklist .checklist-section {
  display: none;
}

.site-details.block .checklist .checklist-section.is-selected {
  display: block;
}

.site-details.block .checklist .button-container.section-tabs {
  justify-content: flex-start;
}

.site-details.block .checklist .checklist-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.site-details.block .checklist .checklist-item {
  display: flex;
  gap: 8px;
  padding: 12px 24px;
  border: 1px solid var(--light-gray);
  border-radius: var(--border-radius);
  align-items: center;
  background-color: var(--light-gray);
}

.site-details.block .checklist .checklist-item[data-completed="true"] {
  background-color: var(--light-green);
}

.site-details.block .checklist-button-container {
  display: flex;
  gap: 8px;
  margin-left: auto;
}

.site-details.block .checklist .checklist-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  border: 0;
  padding: 2px;
  margin: 0;
  cursor: pointer;
  background-color: transparent;
}

.site-details.block .checklist .checklist-button img {
  width: 100%;
  height: 100%;
}

.site-details.block .checklist .checklist-manual-checkbox {
  border: 2px solid var(--gray);
  background-color: var(--light-gray);
  border-radius: var(--small-border-radius);
}

.site-details.block .checklist .checklist-manual-checkbox img {
  opacity: 0;
  width: 70%;
  height: 70%;
}

.site-details.block .checklist .checklist-item[data-completed="true"] .checklist-manual-checkbox {
  border: 2px solid transparent;
  background-color: transparent;
}

.site-details.block .checklist .checklist-item[data-completed="true"] .checklist-manual-checkbox img {
  opacity: 1;
}

.site-details.block .checklist .open-button img {
  transform: rotate(-90deg);
}

.site-details.block .checklist .hint-button {
  position: relative;
  margin-left: 6px;
  height: 24px;
  cursor: pointer;
  background-color: transparent;
  border: 0;
  padding: 0;
  vertical-align: middle;
}

.site-details.block .checklist .hint-buttonwrapper img {
  vertical-align: middle;
  height: 21px;
}

.site-details .checklist .hint-container {
  display: flex;
  position: absolute;
  bottom: calc(100% + 10px);
  left: 50%;
  transform: translate(-50%, 0);
  width: min(600px, 90vw);
  padding: 10px;
  background-color: var(--white);
  z-index: 10;
  border: 1px solid var(--gray);
  border-radius: var(--small-border-radius);
}

.site-details .checklist .hint-container[hidden] {
  display: none;
}

.site-details .checklist .hint-container video {
  display: block;
  width: 100%;
  height: auto;
}

#bulk-import-form {
  max-width: none;
}

#spreadsheets-selector {
  display: flex;
  gap: 8px;
  flex-direction: column;
  margin-bottom: 16px;
}

.spreadsheet-title,
#sheet-buttons {
  display: flex;
  align-items: center;
  gap: 16px;
}

.spreadsheet-title h2 {
  margin: 0 !important;
  padding: 0 !important;
}

#add-row-container {
  display: flex;
  justify-content: center;
  position: sticky;
  left: 0;
}

#add-row {
  width: 100%;
}

.spreadsheet-table-container {
  max-height: calc(100dvh - var(--header-height) - var(--footer-height) - 32px);
  top: var(--header-height);
  overflow-x: auto;
}

table.sheet {
  table-layout: auto;
  width: 100%;
  overflow-x: auto;
  white-space: nowrap;
  border-collapse: collapse;
  border-spacing: 0;
  height: 100%;
  padding: 0 !important;
}

table.sheet thead {
  position: sticky;
  top: 0 !important;
  box-shadow: 0 2px 0 0 var(--blue);
}

table.sheet,
table.sheet td,
table.sheet tr {
  border: 0 !important;
}

table.sheet tbody tr:nth-child(odd):not(:has(.skeleton)) {
  background-color: var(--light-gray);
}

table.sheet td {
  padding: 0 !important;
  margin: 0 !important;
  overflow: auto !important;
  justify-content: center;
}

table.sheet td input,
table.sheet td {
  text-overflow: ellipsis;
  overflow: hidden !important;
}

table.sheet td input,
table.sheet td span,
table.sheet td div {
  width: 100%;
  height: 100%;
}

table.sheet td span {
  margin-left: 5px;
  font-size: medium;
}

table.sheet td,
table.sheet td span {
  max-width: 450px !important;
}

table.sheet td div {
  display: inline-block;
  border: 0;
  min-height: 36px;
  min-width: max-content;
  resize: horizontal;
  overflow: auto;
  padding: 0;
  width: calc(100% - 6px);
  height: calc(100% - 6px);
}

table.sheet td > * {
  margin-top: 3px;
}

.delete-row {
  display: flex;
  justify-content: center;
}

#preview-publish-info-button {
  margin-left: -12px;
}

#preview-publish-info {
  display: flex;
  justify-content: center;
}

#preview-publish-info > p {
  display: flex;
  justify-content: center;
  text-align: center;
  gap: 16px;
}

#protected-sheet-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}
