.site-details:empty {
    height: 100vh;
}

.site-details.block {
    max-width: var(--layout-width);
    margin: auto;
    padding: 16px;
}

.site-details.block.is-deleting {
    pointer-events: none;
    opacity: 0.3;
    filter: blur(2px);
}

.site-details.block .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding-block: 32px;
    gap: 16px;
}

.site-details.block .breadcrumbs {
    font-size: 16px;
    display: flex;
    gap: 8px;
    align-items: center;
    line-height: 32px;
    text-transform: uppercase;
}

.site-details.block .breadcrumbs h1 {
    font-size: 16px;
    line-height: 16px;
    padding: 0;
}

.site-details.block .actions {
    display: flex;
    gap: 8px;
}

.site-details.block .details {
    flex: 1;
    max-width: calc(100% - 200px - 64px);
}

.site-details.block .content {
    display: flex;
    flex-wrap: wrap;
    gap: 64px;
    padding-block: 32px;
    min-height: calc(100vh - 200px);
    justify-content: space-between;
}

.site-details.block .content:has(> p:only-child) {
    display: block;
    padding: 0;
}

.site-details.block .content > p:only-child {
    min-height: calc(100vh - 200px);
    display: grid;
    place-items: center;
}

.site-details.block .content aside {
    height: max-content;
    width: 200px;
}

.site-details.block .content aside ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.site-details.block .content aside .button {
    width: 100%;
    justify-content: flex-start;
    border-color: transparent;
}

.site-details.block .content aside .button:hover {
    border-color: var(--light-blue);
    background-color: var(--white);
}

.site-details.block .content aside .button.is-selected {
    border-color: var(--light-blue);
    background-color: var(--light-blue);
    color: var(--white);
}

.site-details.block .content aside .button.is-selected img {
    filter: invert(1);
}

.site-details.block .content aside li.title {
    font-weight: 600;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    border-bottom: 1px solid var(--orange);
    padding-bottom: 4px;
    font-size: 14px;
}

.site-details.block .details > :not(.is-selected),
.site-details.block .actions > :not(.is-selected) {
    display: none;
}

.site-details.block h2 {
    font-size: 16px;
    margin-top: 16px;
    padding-bottom: 12px;
}

.site-details.block h3 {
    font-size: 13px;
    margin-top: 8px;
    padding-block: 8px;
}

.site-details.block .container > h2:first-child,
.site-details.block .container > div:first-child > h2:first-child {
    margin-top: 0;
    padding-top: 0;
}

.site-details.block .cards {
    display: flex;
    gap: 32px;
    flex-wrap: wrap;
}

.site-details.block .cards span {
    font-weight: 300;
}

.site-details.block .cards.metrics span {
    display: flex;
    justify-content: space-between;
}

.site-details.block .cards.metrics ul {
    margin: 0;
    font-weight: 300;
    padding-left: 16px;
}

.site-details.block .cards.metrics > div > strong:only-child::after {
    content: ' (Not enough data)';
    font-size: 11px;
}

.site-details.block .cards > div {
    display: flex;
    flex-direction: column;
    gap: 8px;
    min-width: 200px;
    max-width: 200px;
    border: 1px solid var(--gray);
    padding: 16px;
    border-radius: var(--border-radius);
}

.site-details.block .cards > div strong {
    text-transform: uppercase;
}

.site-details.block .cards .red {
    color: var(--red);
}

.site-details.block .cards .green {
    color: var(--green);
}

.site-details .danger-zone {
    border: 1px solid var(--red);
    margin-block: 32px;
    padding: 32px;
    border-radius: var(--border-radius);
}

.site-details .danger-zone .button {
    color: var(--red);
}

.site-details.block .list {
    list-style: none;
    padding: 0;
    display: flex;
    align-items: center;
    gap: 8px;
    flex-wrap: wrap;
}

.site-details.block .list:empty {
    display: none !important;
}

.site-details.block table td:first-child {
    font-weight: 500;
}

.site-details.block table .table-actions {
    white-space: nowrap;
}

.site-details.block table .table-actions > .button {
    margin: 3px;
}

@media (width < 768px) {
    .site-details.block .content aside {
        width: 100%;
    }

    .site-details.block .details {
        max-width: 100%;
    }

    .site-details.block .cards {
        flex-direction: column;
    }

    .site-details.block table {
        padding: 0;
        width: calc(100vw - 32px);
        overflow-x: auto;
        display: block;
    }

    .site-details.block .nav,
    .site-details.block .button-container {
        flex-direction: column;
        align-items: flex-start;
    }
}

/* MARK: Icon list */
.site-details.block .favicon-section {
    display: flex;
    gap: 8px;
}

.site-details.block .change-favicon {
    align-self: center;
}

.site-details.block .copy-button img {
    max-width: 12px;
}

.site-details.block .block-icon,
.site-details.block .icon-preview,
.site-details.block .favicon-section img {
    max-width: 48px;
}

.site-details.block .blocks.list,
.site-details.block .icons.list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(124px, 1fr));
    align-items: stretch;
    gap: 24px;
}

.site-details.block .blocks.list li,
.site-details.block .icons.list li {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: center;
}

.site-details.block .icons.list .icon-preview {
    aspect-ratio: 1/1;
    width: 100%;
    object-fit: contain;
    object-position: center;
    filter: var(--icon-drop-shadow);
}

.site-details.block .icons.list .buttons-container {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    justify-content: center;
    margin-top: auto;
}

.site-details.block .chart-container {
    position: relative;
    height: 400px;
    width: 100%;
    margin-block: 32px;
}

.site-details.block :is(.monitoring-panel, .analytics-panel, .audience-panel, .emails-panel) .container img:only-child {
    height: 64px;
    width: 64px;
}

.site-details.block .emails-panel .container {
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
}

.site-details.block .emails-panel .campaign-list {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
    margin: 0 0 16px;
}

.site-details.block .emails-panel .campaign-list .button.is-selected {
    background-color: var(--light-blue);
    color: white;
    border-color: var(--light-blue);
}

.site-details.block .period-selector {
    padding-block: 6.5px;
    width: auto;
}

.site-details.block .analytics-panel table td p:first-child {
    margin-top: 0;
}

.site-details.block .analytics-panel table td p:last-child {
    margin-bottom: 0;
}

.site-details.block .analytics-panel table td.empty {
    text-align: center;
    text-transform: uppercase;
    padding: 32px;
    font-weight: bold;
    font-size: 11px;
}

.site-details.block .form {
    display: flex;
    gap: 8px;
    max-width: calc(var(--layout-width) / 2);
}

.site-details.block .form label {
    flex: 1;
}

.site-details.block .form button[type="submit"] {
    align-self: flex-end;
}

/* MARK: Author list */
.site-details.block .author {
    width: 100%;
    display: flex;
    gap: 8px;
    border-top: 1px solid var(--gray);
    padding-block: 8px;
    align-items: center;
    justify-content: space-between;
}

.site-details.block .author:first-child {
    border-top: none;
}

.site-details.block .authors-list {
    list-style: none;
    padding: 0;
    max-width: calc(var(--layout-width) / 2);
    max-height: 300px;
    overflow: auto;
}

/* MARK: add page */

.site-details.block .add-page-container {
    display: flex;
    justify-content: flex-end;
}

/* MARK: Dark alley */
.site-details.block.dark-alley .button.update-description,
.site-details.block.dark-alley .button.sidekick {
    display: none;
}
