.theme-editor:empty {
    height: 100vh;
}

.theme-editor.block {
    margin: auto;
    padding: 16px;

    --content-height: calc(100vh - 300px);
    --aside-width: 80vw;
    --aside-max-width: 400px;
}

.theme-editor.block.is-saving {
    opacity: .3;
    pointer-events: none;
}

.theme-editor.block .nav {
    max-width: var(--layout-width);
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding-block: 32px;
    gap: 16px;
}

.theme-editor.block .actions {
    display: flex;
    max-width: 100%;
    flex-wrap: wrap;
    gap: 8px;
}

.theme-editor.block .details {
    flex: 1;
}

.theme-editor.block .content {
    display: flex;
    margin: 16px 0;
    position: relative;
    overflow: hidden;
    background-color: var(--gray);
}

.theme-editor.block aside {
    border: 1px solid var(--gray);
    flex-grow: 1;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: var(--aside-width);
    max-width: var(--aside-max-width);
    background-color: var(--white);
    transform: translateX(100%);
    transition: all var(--animation-duration);
}

.theme-editor.block aside.is-open {
    transform: translateX(0%);
}

.theme-editor.block .aside-content {
    overflow: auto;
    padding: 14px;
    height: 100%;
}

.theme-editor.block .toggle-aside {
    cursor: pointer;
    background-color: var(--white);
    border-radius: var(--small-border-radius) 0 0 var(--small-border-radius);
    border-color: var(--gray);
    border-style: solid;
    border-width: 1px 0 1px 1px;
    height: 60px;
    width: 30px;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(-100%, -50%);
}

.theme-editor.block aside .toggle-aside .icon {
    transition: transform var(--animation-duration);
    transform: rotate(90deg);
}

.theme-editor.block aside.is-open .toggle-aside .icon {
    transform: rotate(-90deg);
}

.theme-editor.block .ghost-aside {
    width: 0;
    max-width: var(--aside-max-width);
    transition: all var(--animation-duration);
}

.theme-editor.block.show-aside .ghost-aside {
    width: var(--aside-width);
}

.theme-editor.block aside,
.theme-editor.block .preview {
    height: var(--content-height);
}

.theme-editor.block aside select {
    flex: 1;
}

.theme-editor.block:has(.is-loading) aside {
    pointer-events: none;
    opacity: .5;
}

.theme-editor.block h2 {
    font-size: 16px;
    margin-top: 16px;
    padding-block: 16px;
}

.theme-editor.block h2:first-child {
    padding-top: 0;
    margin-top: 0;
}

.theme-editor.block h3 {
    font-size: 14px;
    margin-top: 0;
    padding-block: 14px;
}

.theme-editor.block .preview {
    flex: 1;
    max-width: 100%;
    border: 1px solid var(--gray);
}

.theme-editor.block .preview .skeleton {
    width: 810px;
}

.theme-editor.block .preview:has(.is-loading) {
    text-align: center;
    align-content: center;
}

.theme-editor.block .iframe {
    border: 0;
    width: 100%;
    height: 100%;
    transition: all var(--animation-duration);
    max-width: 1440px;
    flex-shrink: 0;
    margin: 0 auto;
}

.theme-editor.block .iframe.is-loading {
    display: none;
}

.theme-editor.block .iframe + .skeleton {
    border-radius: 0;
}

.theme-editor.block .iframe:not(.is-loading) + .skeleton {
    display: none;
}

.theme-editor.block .preview-container {
    display: flex;
    height: 100%;
    overflow: auto hidden;
}

.theme-editor.block .preview-container.preview-mode {
    position: absolute;
    left: 0;
    z-index: 10;
    width: 100%;
}

.theme-editor.block input:not([type="color"]) {
    margin-bottom: 24px;
    display: block;
    width: 100%;
}

.theme-editor.block label {
    display: block;
    margin-bottom: 8px;
    font-size: 14px;
}

.theme-editor.block .vars + div {
    display: none;

    /* border: 1px solid var(--gray); */

    /* height: calc(100% - 48px); */
}

.theme-editor.block .button-container {
    justify-content: flex-start;
    max-width: 100%;
}

.theme-editor.block .enable-styles ~ * {
    display: none;
}

.theme-editor.block .button-container:has(.publish-theme) {
    justify-content: flex-start;
    flex-direction: row;
}

.theme-editor.block .publish-theme-selector {
    padding-block: 6.5px;
    width: auto;
}

.theme-editor.block .color-picker {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
    margin-bottom: 16px;
}

.theme-editor.block .color-picker select {
    display: flex;
    align-items: center;
    min-width: 50%;
}

.theme-editor.block .color-picker input {
    margin-bottom: 0;
}

.theme-editor.block .color-picker input[disabled] {
    border-color: transparent;
}

.theme-editor.block .color-picker span {
    font-style: italic;
    min-width: 50%;
}

.theme-editor.block span.contrast-issues {
    padding-top: 0;
    color: var(--orange);
    font-weight: 700;
}

.theme-editor.block span.contrast-issues::after {
    display: inline-block;
    content: '';
    height: 15px;
    width: 20px;
    background: url('/icons/info.svg') center / contain no-repeat;
}

.theme-editor.block span.contrast-issues:empty {
    display: none;
}

.theme-editor.block .warning {
    padding-left: 8px;
    background-color: var(--orange);
    color: var(--black);
    border-radius: 4px;
    display: flex;
    gap: 8px;
    align-items: center;
    margin-right: 8px;
}

.theme-editor.block .warning button {
    background-color: transparent;
    border-color: transparent;
    cursor: pointer;
}

.theme-editor.block .viewers {
    display: flex;
    gap: 8px;
}

.theme-editor.block .toggle-sidebar.button:not([aria-checked="true"]),
.theme-editor.block .viewers .button:not([aria-checked="true"]) {
    border-color: transparent;
}

.theme-editor.block .toggle-sidebar.button svg path.triangle {
    transition: transform var(--animation-duration);
    transform-origin: 38% 50%;
    transform: rotate(-180deg);
}

.theme-editor.block .toggle-sidebar.button:not([aria-checked="true"]) svg path.triangle {
    transform: rotate(0deg);
}

@media (width < 768px) {
    .theme-editor.block {
        --content-height: calc(80vh - 48px);
        --aside-max-width: 65vw;
    }

    .theme-editor.block .preview .skeleton {
        width: 375px;
    }
}
